<!-- content -->
    <div class="container-md bg-dark text-white">
        <main>
          <h1><%= title%></h1>
          <div class="container text-center">
            <!-- contact cards  -->
            <!-- sample card    -->
            <div class="row align-items-center p-3">
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <div class="card-body">
                    <h5 class="card-title">Contact name</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Family name</h6>
                    <p class="card-text">
                      Fone: (xx) xxxx-xxxx<br>
                      Email: 
                    </p>
                    <a href="#" class="card-link">Card link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- pagination -->
            <div class="row mt-4 pb-3">
              <div class="col">
                <nav aria-label="Navegação de páginas">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Próxima</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </main>
    </div>