<%- include('partials/header') %>
<div class="container-md bg-dark text-white">
  <main>
    <h1><%= title%></h1>
    <div class="container text-center m-10">
      <p class="display-6">/add</p>

    </div>
</div>
<%- include('partials/footer') %>